<configuration>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <remove fileExtension=".json"/>
      <mimeMap fileExtension=".json" mimeType="application/manifest+json"/>
      <mimeMap fileExtension=".webapp" mimeType="application/manifest+json"/>
    </staticContent>
  </system.webServer>
</configuration>