footer .bar {
    background: url("../images/bottom-bar.png");
    height: 68px;
}

footer .text {
    height: 189px;
    background-color: #333333;
    color: white;
    padding: 40px 0 0 50px;
    font-size: 16px;   
}
