.container-main {
    width: 800px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}


@font-face {
    font-family: Segoe UI;
    src: url('../fonts/segoeui/segoeui.eot?#iefix') format('embedded-opentype'), url('../fonts/segoeui/segoeui.woff') format('woff'), url('../fonts/segoeui/segoeui.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe MDL2 Assets';
    src: url('../fonts/segoemdl2/segoemdl2.eot?#iefix') format('embedded-opentype'), url('../fonts/segoemdl2/segoemdl2.woff') format('woff'), url('../fonts/segoemdl2/segoemdl2.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    padding: 0;
    font-family: Segoe UI;
    min-width: 320px;
    height: calc(100% - 275px);
    height: -webkit-calc(100% - 275px);
    height: -moz-calc(100% - 275px);
}

.body-content {
    background: url("../images/bg art.png") no-repeat;
    background-size: cover;
    min-height: 100%;
    padding-top: 49px;
    padding-bottom: 104px;
    margin-bottom: -238px;
}

    .body-content:after {
        content: "";
        display: block;
        height: 257px;
    }

    .body-content .container {
        position: relative;
    }

input,
select,
textarea {
    max-width: 280px;
}

textarea{ resize: none;}

button:focus {
    outline: 0 !important;
}

a {
    cursor: pointer;
}

.button-default {
    color: black;
    border-color: transparent;
    background-color: #f9bd39;
}

    .button-default:hover,
    .button-default:active:hover,
    .button-default:visited,
    .button-default:active,
    .button-default:focus {
        color: white;
        background-color: #0078d7;
        border-color: transparent;
    }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'Segoe MDL2 Assets';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
    content: '\e74d';
}

.icon-save:before {
    content: '\e74e';
}

.icon-close:before {
    content: '\e894';
}

.icon-add:before {
    content: '\e710';
}

.icon-edit:before {
    content: '\e70f';
}

.icon-separator {
    margin-right: 10px;
}

.button-icon {
    margin-right: 20px;
}

@media screen and (max-width: 767px) {
    .body-content {
        padding: 0;
    }

        .body-content:after {
            display: none;
        }
}
